{% unless page.hide_breadcrumbs == true %}
  <ol>
    <li>
      {%if site.github %}
      <a href="/guia-de-publicacion/">Home</a> 
      {% else %}
      <a href="/">Home</a> 
      {% endif %}
      <div class="ocultar_breadcrumb_espanol" style="
    float: right;
   
">  
      <a class="nobold" href="/guia-de-publicacion/documents/documentacion/">Documentar</a> |
      <a class="nobold" href="/guia-de-publicacion/documents/licenciamiento/">Licenciar</a> |
      <a class="nobold" href="/guia-de-publicacion/documents/evaluacion/">Evaluar</a>
        </div>
      {%if site.github %}
      <a class="ocultar_home_ingles" href="/guia-de-publicacion/en/">Home</a> 
      {% else %}
      <a href="/">Home</a> 
      {% endif %}
      <div class="ocultar_breadcrumb_ingles" style="
    float: right;
   
">  
      <a class="nobold" href="/guia-de-publicacion/documents/documentacion/">Documentation</a> |
      <a class="nobold" href="/guia-de-publicacion/documents/licenciamiento/">Licence</a> |
      <a class="nobold" href="/guia-de-publicacion/documents/evaluacion/">Evaluation</a>
        </div>
    
    </li>
    
    
  </ol>
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [{
      "@type": "ListItem",
      "position": 1,
      "item": {
        "@id": "{{ site.github.url }}/",
        "name": "Home"
      }
    },{% if page.layout == "document" %}{
      "@type": "ListItem",
      "position": 2,
      "item": {
        "@id": "{{ site.github.url }}/documents",
        "name": "documents"
      }
    },{% endif %}{
      "@type": "ListItem",
      "position": {% if page.layout == "document" %}3{% else %}2{% endif %},
      "item": {
        "@id": "{{ site.github.url }}{{ page.url }}",
        "name": {{ page.title | jsonify }}
      }
    }]
  }
  </script>
{% endunless %}
